<!doctype html>
<html>
  <head>
    <title>OATH Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">OATH</a>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</span></a>
          </li>
        </ul>
      </nav>
      <div class="mx-auto p-2" style="width: 1000px;">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>